#root {
  max-width: 1440px;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
}

img,
picture {
  max-width: 100%;
  display: block;
}

p,
h4 {
  margin: 0;
}

/* Voter score colors: #21d07a #d2d531 #db2360*/
/* Other color: #e3e3e3, #f4f4f4 */

/* ----------- */
header {
  position: sticky;
  top: 2rem;
  max-width: 1200px;
  margin: 1rem;
  background-color: #f4f4f4;
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2em;
}

nav > a {
  color: black;
  font-weight: 600;
}

/* ----------- */
main {
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footerPagination {
  margin: 2rem 0;
}

/* .section_centered {
  text-align: center;
} */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
}

/*  Movie Card --------------------------- */
.grid-item {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.poster {
  aspect-ratio: 1/1.5;
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 26px 10px 12px;
  position: relative;
  white-space: normal;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.voter-score {
  position: absolute;
  bottom: -1.25rem;
  left: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: small;
  border: 1px solid white;
}

.voter-score > span {
  font-size: 0.35rem;
}

.favorite-button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.25rem;
  color: black;
  opacity: 0.6;
  border-radius: 50%;
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.favorite-button-default {
  opacity: 0.6;
  background-color: #e3e3e3;
}
.favorite-button-checked {
  opacity: 0.8;
  background-color: #21d07a;
}

.favorite-button-default:hover {
  opacity: 0.8;
}

.movie-title {
  font-weight: 800;
}

.movie-release-date {
  color: rgba(0, 0, 0, 0.6);
}

/* Search Input */
.search-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 0.75rem;
  scale: 0.7;
}
